body,
h1,
p,
ul {
    margin: 0;
    padding: 0
}

body,
html {
    height: 100%
}

body {
    z-index: initial;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #111;
    background-color: #f9f9f9;
    -webkit-text-size-adjust: 100%
}

h1,
p,
ul {
    margin-bottom: 15px
}

img {
    max-width: 100%;
    vertical-align: middle
}

ul {
    margin-left: 30px;
}

ul>li {
    margin-top: 1px;
}

h1 {
    font-weight: 300
}

a,
:visited {
    color: #2a7ae2;
    text-decoration: none
}

a:hover {
    color: #111;
    text-decoration: underline
}

.wrapper {
    max-width: -webkit-calc(1024px - (30px * 2));
    max-width: calc(1024px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px
}

@media screen and (max-width: 800px) {
    .wrapper {
        max-width: -webkit-calc(1024px - (30px));
        max-width: calc(1024px - (30px));
        padding-right: 15px;
        padding-left: 15px
    }
}

.wrapper:after,
.footer-col-wrapper:after,
.cover:after,
.profile-wrapper:after {
    content: "";
    display: table;
    clear: both
}

.text-grey {
    color: #828282
}

.text-grey-dark {
    color: #333333
}

.site-header {
    border-top: 3px solid #9b3022;
    border-bottom: 1px solid #9b3022;
    min-height: 56px;
    position: relative
}

.site-nav {
    float: right;
    line-height: 56px;
    z-index: 3
}

.site-nav .menu-icon {
    display: none
}

.site-nav .page-link {
    font-weight: 400;
    color: #002336;
    line-height: 1.5
}

.site-nav .page-link:not(:first-child) {
    margin-left: 20px
}

@media screen and (max-width: 600px) {
    .site-nav {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: #f9f9f9;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        text-align: right
    }

    .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center
    }

    .site-nav .menu-icon>svg {
        width: 18px;
        height: 15px
    }

    .site-nav .menu-icon>svg path {
        fill: #113f7c
    }

    .site-nav .trigger {
        clear: both;
        display: none
    }

    .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px
    }

    .site-nav .page-link {
        font-weight: 400;
        display: block;
        padding: 5px 10px
    }
}

.sm-heading {
    font-size: 20px;
    color: #3C1F1F;
    font-weight: 300
}

.md-heading {
    font-size: 24px;
    color: #3C1F1F;
    font-weight: 400
}

.lg-heading {
    font-size: 30px;
    color: #3C1F1F;
    font-weight: 600
}

.button {
    padding: 10px;
    margin-top: 25px
}

.button a {
    border: solid 1px #e0e0e0;
    border-radius: 0.2rem;
    color: #868686;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 2.0rem;
    text-decoration: none
}

.cover {
    max-width: 100%;
    height: 320px;
    /* z-index: initial; */
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .cover {
        max-width: -webkit-calc(1024px - (30px));
        max-width: calc(1024px - (30px));
        padding-right: 15px;
        padding-left: 15px
    }
}

@media screen and (max-width: 600px) {
    .cover {
        height: auto; /* Let content control height */
        padding: 15px; /* Add small padding for better spacing */
    }
}

.shallow-bg {
    background-image: url("../images/about/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* Center child elements */
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    /* Set height to viewport height minus banner height */
    height: calc(100vh - 56px);
    margin: 0;
}

.profile-wrapper {
    border-radius: 25px;
    width: 90%;
    max-width: 600px; /* Maintain max width on large screens */
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center; /* Center align content */
    margin: 0 auto; /* Center the block horizontally */
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .profile-wrapper {
        max-width: 300px;
        border-radius: 15px;
    }
}

.wrapper-light {
    background-color: rgba(255, 255, 255, 0.8)
}

.profile-col {
    float: left !important;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

.profile-col-1 {
    width: -webkit-calc(45% - (30px / 2));
    width: calc(45% - (30px / 2))
}

.profile-col-2 {
    width: -webkit-calc(55% - (30px / 2));
    width: calc(55% - (30px / 2))
}

@media screen and (max-width: 800px) {
    .profile-col-1,
    .profile-col-2 {
        width: -webkit-calc(50%);
        width: calc(50%)
    }
}

@media screen and (max-width: 600px) {
    .profile-col {
        position: relative;
        margin: 0;
        width: -webkit-calc(100%);
        width: calc(100%);
    }
}

.circle-img {
    margin: 0px auto;
    width: 168px;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    border-color: #9b3022;
}

#my-name {
    font-size: 32px;
    font-weight: bold;
    color: #292929
}

#my-title {
    font-size: 24px;
    color: #292929;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    #my-name {
        font-size: 28px;
    }

    #my-title {
        display: none;
    }
}


.icon-button {
    background-color: white;
    border-radius: 3.2rem;  /* 减小边框圆角以适应更小的尺寸 */
    cursor: pointer;
    display: inline-block;
    font-size: 1.8rem;  /* 减小字体大小以适应更小的按钮 */
    height: 3.2rem;  /* 减小高度 */
    line-height: 3rem;  /* 调整行高以保持文字垂直居中 */
    margin: 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3.2rem;  /* 减小宽度 */
}

.icon-button i {
    background: none;
    color: white;
    height: 3.2rem;
    left: 0;
    line-height: 3.2rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 3.2rem;
    z-index: 10
}

.icon-button .icon-github {
    color: #000
}

.icon-button .icon-linkedin {
    color: #0077B5
}

.icon-button:hover .icon-github,
.icon-button:hover .icon-linkedin {
    color: white
}


.bio {
    max-width: -webkit-calc(100% - (30px / 2));
    max-width: calc(100% - (30px / 2));
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto
}

@media screen and (max-width: 600px) {
    .bio {
        max-width: -webkit-calc(100% - (30px / 2));
        max-width: calc(100% - (30px / 2))
    }
}

.bio-body {
    margin: 5px;
    padding: 0px;
    text-align: justify;
}

.hide {
    display: none
}

.text-right {
    text-align: right
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}


/* Container for individual education entries */
.education-item {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd; /* Optional: adds a separator */
    padding-bottom: 10px;
}

/* Left column: Degree */
.education-degree {
    flex: 0 0 15%; /* Fixed width for the degree */
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px; /* Adds spacing between title and details */
}

/* Middle column: Details */
.education-details {
    flex: 1; /* Take remaining space */
    line-height: 1.6;
}

/* Right column: Icon */
.education-icon img {
    max-width: 80px; /* Limit icon size */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 600px) {
    .education-item {
        flex-direction: column; /* Stack columns vertically */
        text-align: center;
    }

    .education-degree {
        margin-bottom: 10px;
    }

    .education-icon img {
        /* margin-top: 10px; */
        display: none;
    }
}

/* Left column: Title */
.experience-title {
    flex: 0 0 25%; /* Title takes up 25% of the width */
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px; /* Adds spacing between title and details */
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 600px) {
    .experience-title {
        margin-bottom: 10px;
    }
}

.hidden {
    display: none
}


.pub-list {
    overflow: auto
}

.pub {
    border-bottom: thin solid #c0c0c0;
    margin-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    overflow: auto
}

.pub-left {
    float: left;
    width: -webkit-calc(35% - (30px / 2));
    width: calc(35% - (30px / 2));
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

.pub-left>.intro-img {
    width: 280px;
    border-style: solid;
    border-color: #9b3022
}

.pub-right {
    float: right;
    width: -webkit-calc(65% - (30px / 2));
    width: calc(65% - (30px / 2))
}

@media screen and (max-width: 800px) {
    .pub-left,
    .pub-right {
        float: none;
        margin: 10px auto;
        width: -webkit-calc(100% - (30px / 2));
        width: calc(100% - (30px / 2))
    }
}

@media screen and (max-width: 600px) {
    .pub {
        position: relative;
        margin: 10px auto;
        float: none;
        width: -webkit-calc(100% - (30px / 2));
        width: calc(100% - (30px / 2))
    }
}

.pub-right>.title {
    font-weight: 600
}

.pub-right>.tags {
    margin-top: 3px
}

.pub-right>.tags>.tag {
    font-weight: 500;
    font-size: 14px;
}

.pub-right>.publish {
    float: right;
    color: #002336;
    font-size: 16px;
    margin-top: 3px;
}

.pub-right>.publish>.status {
    font-weight: 800;
    font-size: 16px
}

@media screen and (max-width: 600px) {
    .pub-right>.publish>.status {
        display: none
    }
}


/* General footer styling */
.site-footer {
    border-top: 1px solid #9b3022; /* Top border */
    padding: 20px 0; /* Padding for top and bottom */
    font-size: 15px;
    color: #828282;
    background-color: #f9f9f9; /* Optional light background */
}

/* Wrapper for the footer content */
.footer-content {
    display: flex; /* Use Flexbox */
    justify-content: space-between; /* Align left and right */
    align-items: center; /* Vertically center */
    margin: 0 auto;
    max-width: 1200px; /* Control the max width */
    padding: 0 15px; /* Horizontal padding */
}

/* Email styling */
.footer-email .contact-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-email a {
    text-decoration: none;
    font-weight: bold;
}

/* Citation styling */
.footer-citation {
    text-align: right;
    font-size: 14px;
    color: #828282;
}

/* Responsive adjustments for small screens */
@media screen and (max-width: 600px) {
    .footer-content {
        flex-direction: column; /* Stack items vertically */
        text-align: center;
    }

    .footer-email, .footer-citation {
        margin-bottom: 10px;
        text-align: center;
    }
}


.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #35DACA;
    background-color: rgba(235, 235, 235, 0.8);
    font-size: 16px;
    font-weight: bold;
    padding: 1em;
    display: none
}

.back-to-top:hover {
    background-color: rgba(135, 135, 135, 0.5)
}
